:root{
    --apricot: #ffb997;
    --light-peach: #efd9ce;
    --grapefruit: #f67e7d;
    --violet:#843b62;
    --navy-plum:#0b032d;
    --dark-lavendar:#74546a;
    --light-lavendar1:#a37494;
    --light-lavendar2:#bd8eae;
  }
  


body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background-color:white !important;
  }
  
  .jumbo{
    padding-top: 15px !important;
    padding-bottom: 10px !important;
    background-color: var(--light-lavendar2) !important;
    margin: 0px !important;
    padding-left: 15px;
    min-width: 750px!important;
    width: 100vw;
  }
  .jumbo-container{
    width:100vw;
  }
  
  .name{
    color:var(--navy-plum);
    font-size:50px !important;
  }
  .welcome{
    color:var(--navy-plum);
    font-size:40px !important;
  
  }
  .well1{
    border-radius:0px;
    background:white;
    border:0px solid;
    box-shadow:none;
    font-size: 20px;
    height:60vh;
    margin:0px;
    padding-left:0px;
  }
  .bottom{
    background-color:var(--navy-plum);
    height:20vh;
    border:0px solid;
    border-radius:0px;
  }
  .about-button{
    border:none;
    /*box-shadow:2px 2px gray;*/
    padding:5px;
    padding-left:7px;
    padding-right:7px;
    background-color:var(--navy-plum);
    font-size:12px;
    color:var(--light-peach);
  }
  .bottom-container{
    padding:0px !important;
    
  }
  .jumbo-row{
    content: "";
    clear: both;
  }
  .col1{
    width: 80vw !important;
  }
  .signout-button{
    border:none;
    /*box-shadow:2px 2px gray;*/
    padding:5px;
    padding-left:7px;
    padding-right:7px;
    background-color:var(--navy-plum);
    font-size:12px;
    color:var(--light-peach);
    font-size: 14px;
    right:0px;
    
    margin-right:0px;
    left:100px !important;
    width:70px;
    
  }
  .col2{
    margin-right:0px !important;
    padding-right:0px !important;
    width: 17vw!important;
  }
  
  .col3{
    background-color:white;
    padding-left:10px;
    padding-right:10px;
  }
  .well1-row{
    width:70vw;
    max-width: 800px;
    margin: auto!important;
    
  }
  .body-row{
    padding:15px;
    padding-left:30px
  }
  .button-student{
    margin-bottom:10px;
    border:none;
    background-color: lightgray;
    padding:5px;
    padding-left:10px;
    padding-right:10px;
    font-size:20px;
  }
  .student-content{
    border:none;
    border-radius:0px;
    font-size:20px;
    margin-left:15px;
    box-shadow:none;
    height:500px;
    background-color: white;
    padding-top:0px;
  }
  .col4{
    padding:0px;
  }
  .breadcrumb1{
    font-size:18px;
    min-width:750px;
    width:100vw;
  }
  .dropdown-toggle{
    font-size:18px!important;
    background-color:lightgray!important;
    color:black!important;
    border:none !important;
    border-radius:0px !important;
    box-shadow:none !important;
    margin-bottom:15px !important;
    padding-left:10px !important;
    margin-right:10px !important;
  
  }
  .dropdown-menu{
    font-size:18px !important;
    border:none !important;
    border-radius:0px !important;
    box-shadow:none !important;
    background-color: lightgray!important;
    
  }
  .flex-dropdown{
    padding-top:15px;
  }
  .dropdown-item{
    padding:10px!important;
    padding-top:0px!important;
    padding-bottom:0px!important;
    color: black!important;
    
  }
  .big-button{
    background-color: lightgray;
    border:none;
    color: var(--navy-plum);
    min-height: 300px;
    min-width:300px;
    font-size:30px;
    height:10vw;
    width:10vw;
  }
  .well1-flexbox{
    margin:auto;
  }