
  /*:root{
    --apricot: #ffb997;
    --light-peach: #efd9ce;
    --grapefruit: #f67e7d;
    --violet:#843b62;
    --navy-plum:#0b032d;
    --dark-lavendar:#74546a;
    --light-lavendar1:#a37494;
    --light-lavendar2:#bd8eae;
  }

  body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background-color:white !important;
  }*/

  /* ------------Top Section Settings------------ */

  /* ------------Breadcrumbs Settings------------ */


  /* ------------Middle Section Settings------------ */

  .courseinfo-buttons {
    display: flex;
    justify-content: space-evenly;
    width: 100vw;
    flex-wrap: wrap;
  }
  .big-buttons-flexbox{
    margin:auto;
  }
  .big-button{

    background-color: #ffffff;
    /*background-color:#f2f2f2;*/
    /* background-color: var(--body-buttons); */
    border: 1px solid lightgray;
    /*box-shadow: 0 2px 6px 0 lightgray, 0 4px 10px 0 lightgray;*/
    border-radius: 5px;
    color: var(--navy-plum);
    /*background-color: lightgray;
    border:none;
    color: var(--navy-plum);*/
    min-height: 300px;
    min-width:300px;
    font-size:30px;
    height:10vw;
    width:10vw;

    font-family:'Open Sans';
  }

  .big-button:hover{
    box-shadow: 0 2px 6px 0 lightgray, 0 4px 10px 0 lightgray;
  }
