  
  /*:root{
    --apricot: #ffb997;
    --light-peach: #efd9ce;
    --grapefruit: #f67e7d;
    --violet:#843b62;
    --navy-plum:#0b032d;
    --dark-lavendar:#74546a;
    --light-lavendar1:#a37494;
    --light-lavendar2:#bd8eae;
  }
  
  body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background-color:white !important;
  }*/

  /* ------------Top Section Settings------------ */

  /* ------------Breadcrumbs Settings------------ */
  

  /* ------------Middle Section Settings------------ */
  .big-buttons-flexbox{
    margin:auto;
  }
  .big-button{
    background-image: linear-gradient(180deg, #ff9a9e 0%, #fad0c4 99%, #fad0c4 100%);
    border:none;
    color: white;
    min-height: 300px;
    min-width:300px;
    font-size:30px;
    height:10vw;
    width:10vw;
  }

  .big-button:hover {
    transform: translate(0, -5px);
box-shadow: 0px 12px 5px -8px rgba(0,0,0,0.2);
  }