  .dateTime{
    margin-right:7% !important;
    margin-bottom: 3%;
    /* z-index: 1; */
    /* margin-left: -5%; */
  }

.dateTimeForm{

  width:100%;
}

.text{
  font-family: 'Open Sans';
  color: #626262;
  margin-left: 0%;
  font-size: 18px;
}

.analyze{
  margin-left: 100%;
}

.analyzebutton{
  border-radius: 3px;
  margin-left: 50%;
  margin-top: 20%;
  margin-bottom: 20%;
}

.finalizebutton{
  border-radius: 3px;
  margin-top: 20%;
  margin-left: 50%;
  margin-bottom: 20%;
}

.flagbutton{
	align-items: center;
	margin-bottom: 5%;
	margin-top: -.2%;
	margin-left: 20%;
	/* background-color: #FFEFE2; */
  background-color: white;
	border-radius: 3px;
	font-size: 15px;
	font-family: 'Open Sans';
	color: #4B4A4A;
	border: 2px solid #d6a0a0;
}

.flagbutton:hover{
  align-items: center;
	margin-bottom: 5%;
	margin-top: -.2%;
	margin-left: 20%;
	background-color: #d6a0a0;
	border-radius: 3px;
	font-size: 15px;
	font-family: 'Open Sans';
	color: #4B4A4A;
	border: 2px solid #d6a0a0;
}

.analyzeresult{
  font-family: 'Open Sans';
  color: #626262;
  margin-left: 0%;
  font-size: 18px;
}

.textmessage{
  margin-top: 3%;
  margin-left: -25%;
  margin-bottom: -3%;
}

.parameters{
  width: 300%;
  text-align: left;
  margin-top: 10%;
}

.parameter{
  font-family: 'Open Sans';
  color: #626262;
  text-align: left;
  font-size: 16px;
}

.checktext{
  font-family: 'Open Sans';
  color: #4B4A4A;
  font-size: 15px;
}

.clear{
  font-family: 'Open Sans';
  color: #626262;
  border-radius: 3px;
  background-color: white;
}

.clear:hover{
  font-family: 'Open Sans';
  color: #626262;
  border-radius: 3px;
  background-color:	#F8F8F8;
}

.clear-all{
  font-family: 'Open Sans';
  color: #626262;
  border-radius: 3px;
  background-color: white;
  margin-top: -4.5%;
  float: right;
}

.clear-all:hover{
  font-family: 'Open Sans';
  color: #626262;
  border-radius: 3px;
  background-color:	#F8F8F8;
  margin-top: -4.5%;
  float: right;
}

  .rdt {
    position: relative;
    width:100%;
    margin-right:0px!important;
  }

  .rdtPicker {
    display:inline-block;
    position: relative;
    width: 100%;
    height:100%;
    padding: 2%;
    margin-top: 0%;
    /* z-index: 99999 !important; */
    background: #fff;
    /* box-shadow: 0 1px 3px rgba(0,0,0,.1); */
    box-shadow:none;
    border: none;
}

.form-control:disabled{
    height:10%!important;
    border-radius:0px!important;
    box-shadow:none !important;
    border:none!important;
}

  .rdtStatic .rdtPicker {
    box-shadow: none;
    position: static;
  }

 .rdtPicker .rdtTimeToggle {
    text-align: center;
  }

  .rdtPicker table {
    width: 100%;
    margin: 0;
  }

  .rdtPicker td,
  .rdtPicker th {
    text-align: center;
    height: 100%;
  }

  .rdtPicker td {
    cursor: pointer;
  }
  .rdtPicker td.rdtDay:hover,
  .rdtPicker td.rdtHour:hover,
  .rdtPicker td.rdtMinute:hover,
  .rdtPicker td.rdtSecond:hover,
  .rdtPicker .rdtTimeToggle:hover {
    background: #eeeeee;
    cursor: pointer;
  }
  .rdtPicker td.rdtOld,
  .rdtPicker td.rdtNew {
    color: #999999;
  }
  .rdtPicker td.rdtToday {
    position: relative;
  }
  .rdtPicker td.rdtToday:before {
    content: '';
    display: inline-block;
    border-left: 7px solid transparent;
    border-bottom: 7px solid #428bca;
    border-top-color: rgba(0, 0, 0, 0.2);
    position: absolute;
    bottom: 4px;
    right: 4px;

  }
  .rdtPicker td.rdtActive,
  .rdtPicker td.rdtActive:hover {
    background-color: #428bca;
    color: #fff;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  }
  .rdtPicker td.rdtActive.rdtToday:before {
    border-bottom-color: #fff;
  }
  .rdtPicker td.rdtDisabled,
  .rdtPicker td.rdtDisabled:hover {
    background: none;
    color: #999999;
    pointer-events:none;
  }

  .rdtPicker td span.rdtOld {
    color: #999999;
  }
  .rdtPicker td span.rdtDisabled,
  .rdtPicker td span.rdtDisabled:hover {
    background: none;
    color: #999999;
    pointer-events:none;
  }
  .rdtPicker th {
    border-bottom: 1px solid #f9f9f9;
  }
  .rdtPicker .dow {
    width: 14.2857%;
    border-bottom: none;
    cursor: default;
  }
  .rdtPicker .rdtDays th.rdtSwitch {
    width: 100px;
    pointer-events:none;
  }
  .rdtPicker th.rdtNext,
  .rdtPicker th.rdtPrev {
    font-size: 100%;
    vertical-align: top;
  }

  .rdtPrev span,
  .rdtNext span {
    display: inline-block;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }

  .rdtPicker th.rdtDisabled,
  .rdtPicker th.rdtDisabled:hover {
    background: none;
    color: #999999;
    cursor: not-allowed;
  }
  .rdtPicker thead tr:first-child th {
    cursor: pointer;
  }
  .rdtPicker thead tr:first-child th:hover {
    background: #eeeeee;
  }

  .rdtPicker tfoot {
    border-top: 1px solid #f9f9f9;
  }

  .rdtPicker button {
    border: none;
    background: none;
    cursor: pointer;
  }
  .rdtPicker button:hover {
    background-color: #eee;
  }

  .rdtPicker thead button {
    width: 100%;
    height: 100%;
  }

  td.rdtMonth,
  td.rdtYear {
    height: 100%;
    width: 25%;
    cursor: pointer;
  }
  td.rdtMonth:hover,
  td.rdtYear:hover {
    background: #eee;
  }

  .rdtCounters {
    display: inline-block;
  }

  .rdtCounters > div {
    float: left;
  }

  .rdtCounter {
    height: 100px;
  }

  .rdtCounter {
    width: 40px;
  }

  .rdtCounterSeparator {
    line-height: 125px;
  }

  .rdtCounter .rdtBtn {
    height: 40%;
    line-height: 60px;
    cursor: pointer;
    display: inline-block;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  .rdtCounter .rdtBtn:hover {
    background: #eee;
  }
  .rdtCounter .rdtCount {
    height: 20%;
    font-size: 1.2em;
  }

  .rdtMilli {
    vertical-align: middle;
    padding-left: 8px;
    width: 48px;
  }

  .rdtMilli input {
    width: 100%;
    font-size: 1.2em;
    margin-top: 37px;
  }

  .rdtTime td {
    cursor: default;
  }

  .dateTimeSubmit{
    width:30%;
    font-size:80%;
    padding:0px;
    cursor:pointer;
    border:none;
    border-radius:3px;
  }

  .timePicker{
    width:50%;

  }

  .rc-time-picker-input{
    font-size:80% !important;
    cursor:pointer!important;
  }

  .grayOut{
    pointer-events:none!important;
    opacity:0.5;
    position:relative;
    top:0;
    left:0;
    /* z-index:2; */
  }

.invalidModal{
  z-index:3;
}

.color-border-red {
  border: 3px solid #e86d6d !important;
  border-radius: 3px;
}

.color-border-green {
	border: 3px solid #85c464 !important;
  border-radius: 3px;
}
