
@import 'http://weloveiconfonts.com/api/?family=fontawesome';
/* ------------Analyze Button settings------------ */

input[type=checkbox] {
	width: 17px !important;
}

/* ------------Assignments settings------------ */
.assigndrop{
		float: left;
		position: block;
		margin-top: 1%;
		background-color:#FFEFE2;
		margin-left: 15%;
	}

.assign-name{
	font-family: 'Open Sans' !important;
  font-size: 20px !important;
  color: #626262 !important;
  font-weight: 100 !important;
	}

.assign-name:hover{
	font-family: 'Open Sans';
	font-size: 20px !important;
	color: #626262;
	font-weight: 100;
	align-items: center;
	background-color: #f8f9fa;
}

.assigntog{
	font-family: 'Open Sans' !important;
  font-size: 28px !important;
  /* background-color: #ffffff !important; */
  color: #626262 !important;
  font-weight: 100 !important;
  border-radius: 10px !important;
  margin-left: -60%;
  background-color:#FFEFE2 !important;
  border: none !important;
}

.dropdown-men{
  height:auto;
  max-height:40vh;
  overflow-x:hidden;
}

.hr-2{
	border-top: 1px solid black;
	margin-top:.5%;
	width: 95% !important;
  margin-left: -10% !important;
}
/*
.hr-4{
		margin-top: -.5%;
		border-top: 2px solid #a0a0a0 !important;
	  width: 100% !important;
	  margin-left: -12% !important;
} */

.hr-5{
  border-top: 2px solid #a0a0a0 !important;
  width: 100% !important;
  margin-left: -12% !important;
}

.hr-6{
  border-top: 2px solid #a0a0a0 !important;
  width: 110% !important;
  margin-left: -17% !important;
	margin-top: -3% !important;
}

.not-pr{
  /*background-color:#e0e1e5;
  border: 2px solid #e2c6c5;
  opacity: 1;*/
  background-color:lightgray!important;
}

.not-pr:hover{
  /*transform: none !important;
  box-shadow: none !important;
  border: 2px solid #e2c6c5 !important;
  background-color:#e0e1e5 !important;
  opacity:1;*/
  background-color:lightgray!important;
}

.title{
	font-size:30px;
	padding-top:1%;
	margin-bottom:0%;
}

/* ------------Finalize Results settings------------ */
.boxplot{
  	margin-left: -1%;
}

.totalscore{
	font-family: 'Open Sans';
	font-size: 15px;
	color: #4B4A4A;
	margin-bottom: 4%;
	margin-left: 45%;
	font-weight: 100;
	margin-top: -5%;
}

.scoredets{
	margin-left: -10%;
	margin-top: 10% !important;
}

.headertext{
  font-family: 'Open Sans';
  color: #626262;
  font-weight: 100;
  font-size: 20px;
  text-align: left;
  margin-left: 0% !important;
	margin-top: -1% !important;
}


.stats{
	font-family: 'Open Sans';
	font-size: 15px;
	font-weight: 100;
	color: #4B4A4A;
	margin-right: 10%;
}

.pagetext{
	font-family: 'Open Sans';
	/* font-weight: 300; */
	color: #4B4A4A;
	float: left;
	margin-bottom: -2%;
	margin-top: 1%;
  margin-left: -5%;
	font-size: 15px;
}

.date{
	margin-left: 7%;
	font-family: 'Open Sans';
	/* font-weight: 300; */
	color: #4B4A4A;
	margin-bottom: -2%;
	margin-top: 1%;
	font-size: 15px;
}

.button-student{
	background-color: #f9f7f7;
	border-radius: 3px;
	margin-top: 1%;
	box-shadow: 0px 10px 5px -8px rgba(0,0,0,0.1);
	border: 2px solid #e2c6c5;
	margin-bottom: 1%;
	align-items: center;
}

.flaggedbutton{
	align-items: center;
	margin-bottom: -2%;
	margin-top: .5%;
	margin-left: 7%;
	background-color: #FFEFE2;
	border-radius: 3px;
	font-size: 15px;
	font-family: 'Open Sans';
	color: #4B4A4A;
	border: 2px solid #d6a0a0;

}

.flaggedbutton:hover{
	align-items: center;
	margin-bottom: -2%;
	margin-top: .5%;
	margin-left: 7%;
	background-color: #d6a0a0;
	border-radius: 3px;
	font-size: 15px;
	font-family: 'Open Sans';
	color: #4B4A4A;
	border: 2px solid #d6a0a0;
}

.well2{
  	margin-left: 3%;
}

.pop-up{
	border-radius: 3px;
	text-align: center;
}

.graph1{
	margin-left: -8%;
}

.graph2{
	margin-left: 15%;
}

.graphTitle{
	font-family: 'Open Sans';
  color: #4B4A4A;
	font-size: 16px;
	text-align: center;
	margin-top: -15%;
	margin-left: 30%;
}

.graphsub{
	font-family: 'Open Sans';
	color: #4B4A4A;
	font-size: 12px;
	text-align: center;
	margin-top: -2%;
	margin-bottom: 10%;
	margin-left: 30%;
}

.chartbox{
  margin-top: -6%;
	margin-left: 40%;
	width: 50%;
}

.legend{
	width: 100%;
	margin-left: 25%;
	font-size: 11px;
}

.compkey{
  margin-top: -2%;
	font-family: 'Open Sans';
	font-weight: 100;
	color: #4B4A4A;
}

.graphKey{
	margin-top: -2%;
	margin-right: 5vw;
	font-family: 'Open Sans';
	font-weight: 100;
	color: #4B4A4A;
}

.pieinfo{
	width: 300px;
	margin-left: 20%;
	margin-top: 6%;
	font-family: 'Open Sans';
	color: #4B4A4A;
	font-size: 12px;
}


.modaltext{
	font-family: 'Open Sans';
	color: #4B4A4A;
	padding-top: 3%;
}

.studentlist{
	font-family: 'Open Sans';
	color: #4B4A4A;
}

.progressbar{
	width: 80%;
	margin-left: -2%;
}
  /* --------------------------------------------------------------------------------------------------------------------------------------------------- */

	[class*="fontawesome-"]:before {
	    font-family: 'fontawesome', sans-serif;
	}

	.select-search-box {
	    width: 75%;
	    position: relative;
	    font-family: 'Open Sans';
	    font-size: 24px;
	    color: #626262;
	    background-color: #FFEFE2;
	    border: none;
	    border-radius: 10px;
	    padding-top: 2%;
	}

	    .select-search-box--multiple {
	        border-radius: 4px;
	        box-shadow: 0 7px 14px 0 rgba(50, 50, 93, 0.1), 0 3px 6px 0 rgba(0, 0, 0, 0.07);
	        overflow: hidden;
	    }

	    /* .select-search-box::after {
	        font-family: 'fontawesome';
	        content:"\f078";
	        position: relative;
	        margin-left: 20% !important;
	        margin-top: -11%;
	        width: 40%;
	         text-align: left;
	        color: #222f3e;
	        z-index: 2 !important;
	        font-size: 15px;
	    } */

			.select-search-box::after {
        font-family: fontawesome;
        content:"\f078";
        position: absolute;
        top: 70%;
        right: 0;
        width: 40px;
        text-align: center;
        line-height: 50px;
        color: #222f3e;
        z-index: 1;
}

	    .select-search-box--input::after {
	        display: none !important;
	    }

	    .select-search-box__out {
	        display: none;
	    }

	    .select-search-box__search {
	        display: block;
	        width: 105% !important;
	        height: 50px;
	        border: none;
	        background: none;
	        outline: none;
	        margin-left: -20% !important;
	        margin-top: 2%;
	        -webkit-appearance: none;
	        box-sizing: border-box;
	        position: relative;
	        z-index: 2;
	        cursor: pointer;
	        line-height: 50px;
	        font-family: 'Open Sans';
	        font-size: 30px !important;
	        color: #626262;
	        background-color: #FFEFE2;
	        border: none;
	        border-radius: 10px;
	        font-weight: 100;
	    }

	    input.select-search-box__search {
	        line-height: 1;
	    }

	    .select-search-box--multiple .select-search-box__search {
	        box-shadow: none;
	    }

	    .select-search-box--input .select-search-box__search {
	        cursor: text;
	    }

	        .select-search-box__search:focus {
	            cursor: text;
	        }

	        .select-search-box__search--placeholder {
	            font-style: italic;
	            font-weight: 100;
							font-size: 24px;
	        }

	    .select-search-box input::-webkit-input-placeholder {
	        color: #ccc;
	        font-style: italic;
	        font-weight: 100;
					font-size: 24px;
	    }

	    .select-search-box input::-moz-placeholder {
	        color: #ccc;
	        font-style: italic;
	        font-weight: 100;
					font-size: 24px;
	    }

	    .select-search-box input:-moz-placeholder {
	        color: #ccc;
	        font-style: italic;
	        font-weight: 100;
					font-size: 24px;
	    }

	    .select-search-box input:-ms-input-placeholder {
	        color: #ccc;
	        font-style: italic;
	        font-weight: 100;
					font-size: 24px;
	    }

	    input[type='search']::-webkit-search-cancel-button, input[type='search']::-webkit-search-decoration {
	        -webkit-appearance: none;
	    }

	    .select-search-box__select {
	        display: none;
	        position: absolute;
	        top: 110%;
	        left: 0;
	        right: 0;
	        background: #fff;
	        border-radius: 4px;
	        overflow: auto;
	        box-shadow: 0 7px 14px 0 rgba(50, 50, 93, 0.1), 0 3px 6px 0 rgba(0, 0, 0, 0.07);
	        z-index: 100;
	        min-height: 20%;
	        margin-left: -15% !important;
	        border: 1px solid #eee;
	        width: 75%;
	    }

	    .select-search-box--multiple .select-search-box__select {
	        display: block;
	        position: static;
	        border-top: 1px solid #eee;
	        border-radius: 0;
	        box-shadow: none;
	    }

	        .select-search-box__select--display {
	            display: block;
	        }

	    .select-search-box__option {
	        font-size: 16px;
	        font-weight: 400;
	        color: #616b74;
	        padding-bottom: 3%;
	        padding-top: 3%;
	        border-top: 1px solid #eee;
	        cursor: pointer;
	        white-space: nowrap;
	        overflow: hidden;
	        text-overflow: ellipsis;
	        user-select: none;
	        margin-left: -20%;
	    }

	        .select-search-box__option:first-child {
	            border-top: none;
	        }

	        .select-search-box__option--hover, .select-search-box__option:hover {
	            background: #f4f7fa;
	        }

	        .select-search-box__option--selected {
	            background: #54A0FF;
	            color: #fff;
	            border-top-color: #2184ff;
	        }

	            .select-search-box__option--selected:hover, .select-search-box__option--selected.select-search-box__option--hover {
	                background: #2184ff;
	                color: #fff;
	                border-top-color: #2184ff;
	            }

	        .select-search-box__group {
	            margin-top: 20px;
	            padding-top: 20px;
	            border-top: 1px solid #eee;
	            position: relative;
	        }

	        .select-search-box__group-header {
	            position: absolute;
	            top: 0;
	            left: 50%;
	            transform: translate(-50%, -50%);
	            background: white;
	            padding: 0 10px;
	            color: rgba(0, 0, 0, 0.5);
	            font-size: 12px;
	          }
