/*
@import 'http://weloveiconfonts.com/api/?family=fontawesome';
/* ------------Analyze Button settings------------ */

/* input[type=checkbox] {
	width: 17px !important;
} */

/* ------------Assignments settings------------ */
.assigndrop{
		float: left;
		position: block;
		/* margin-top: 1%; */
		/* background-color:#FFEFE2;*/
		background-color: white;
		/* margin-left: 15%; */

	}

.select-search-box{
	background-color: white !important;
}

.css-1aya2g8, .css-2o5izw, .css-15k3avv{
	background-color: white !important;
	/* margin-left: -15% !important; */
	border: none !important;
}

/* .Select-value{
  border: 1px solid darkgray !important;
} */

.disabledlist:active{
	background-color: white !important;
}

.css-d8oujb{
	display: none;
}

.css-1492t68, .css-15k3avv{
	font-size: 24px;
	font-weight: 100;
	font-family: 'Open Sans';
}

.css-va7pk8{
	font-size: 32px;
	font-weight: 100;
	font-family: 'Open Sans';
	color: #626262;
}

.assign-name{
	font-family: 'Open Sans' !important;
  font-size: 20px !important;
  color: #626262 !important;
  font-weight: 100 !important;
	}

.assign-name:hover{
	font-family: 'Open Sans';
	font-size: 20px !important;
	color: #626262;
	font-weight: 100;
	align-items: center;
	background-color: #f8f9fa;
}

.assigntog{
	font-family: 'Open Sans' !important;
  font-size: 28px !important;
  /* background-color: #ffffff !important; */
  color: #626262 !important;
  font-weight: 100 !important;
  border-radius: 10px !important;
  margin-left: -60%;
  /* background-color:#FFEFE2 !important;*/
	background-color: white;
  border: none !important;
}

.dropdown-men{
  height:auto;
  max-height:40vh;
  overflow-x:hidden;
}

.hr-2{
	border-top: 1px solid black;
	margin-top:.5%;
	width: 85% !important;
  margin-left: -6% !important;
	/* margin-bottom: -3%; */
}
/*
.hr-4{
		margin-top: -.5%;
		border-top: 2px solid #a0a0a0 !important;
	  width: 100% !important;
	  margin-left: -12% !important;
} */

.hr-5{
  border-top: 2px solid #a0a0a0 !important;
  width: 90% !important;
  margin-left: -8% !important;
}

.hr-6{
  border-top: 2px solid #a0a0a0 !important;
  width: 100% !important;
  margin-left: -12% !important;
	margin-top: -3% !important;
}

.title{
	font-size:30px;
	padding-top:1%;
	margin-bottom:0%;
}

/* ------------Finalize Results settings------------ */
.boxplot{
  	margin-left: -1%;
}

.totalscore{
	font-family: 'Open Sans';
	font-size: 15px;
	color: #4B4A4A;
	margin-bottom: 4%;
	margin-left: 45%;
	font-weight: 100;
	margin-top: -3.5%;
}

.scoredets{
	margin-left: -10%;
	margin-top: 5% !important;
}

.headertext{
	font-family: 'Open Sans';
	color: #626262;
	font-weight: normal;
	font-size: 20px;
	text-align: left;
	margin-top:10px;
	/* margin-left: 1%;
	margin-top: 2%; */
	/* padding-top: 2%; */
  }

.stats{
	font-family: 'Open Sans';
	font-size: 15px;
	font-weight: 100;
	color: #4B4A4A;
	margin-right: 10%;
}

.pagetext{
	font-family: 'Open Sans';
	/* font-weight: 300; */
	color: #4B4A4A;
	float: left;
	margin-bottom: -2%;
	margin-top: 1%;
  margin-left: 0%;
	font-size: 15px;
}

.date{
	margin-left: 9%;
	font-family: 'Open Sans';
	/* font-weight: 300; */
	color: #4B4A4A;
	margin-bottom: -1%;
	margin-top: 1%;
	font-size: 15px;
}

.button-student{
	background-color: #f9f7f7;
	border-radius: 3px;
	margin-top: 1%;
	box-shadow: 0px 10px 5px -8px rgba(0,0,0,0.1);
	border: 2px solid #e2c6c5;
	margin-bottom: 1%;
	align-items: center;
}

.flaggedbutton{
	align-items: center;
	margin-bottom: -2%;
	margin-top: .75%;
	margin-left: 9%;
	/* background-color: #FFEFE2; */
	background-color: white;
	border-radius: 3px;
	font-size: 15px;
	font-family: 'Open Sans';
	color: #4B4A4A;
	border: 2px solid #d6a0a0;
	height: 1%;
}

.flaggedbutton:hover{
	align-items: center;
	margin-bottom: -2%;
	margin-top: .75%;
	margin-left: 9%;
	background-color: #d6a0a0;
	border-radius: 3px;
	font-size: 15px;
	font-family: 'Open Sans';
	color: #4B4A4A;
	border: 2px solid #d6a0a0;
}

.well2{
  	margin-left: 3%;
}

.pop-up{
	border-radius: 3px;
	text-align: center;
}

.graph1{
	margin-left: -8%;
	width: 30%;
}

.graph2{
	margin-left: 15%;
	width: 30%;
}

.graphTitle{
	font-family: 'Open Sans';
  color: #4B4A4A;
	font-size: 16px;
	text-align: center;
	margin-top: -10%;
	margin-left: 30%;
}

.graphsub{
	font-family: 'Open Sans';
	color: #4B4A4A;
	font-size: 12px;
	text-align: center;
	margin-top: -2%;
	margin-bottom: 10%;
	margin-left: 30%;
}

.chartbox{
  margin-top: -6%;
	margin-left: 40%;
	width: 50%;
}

.legend{
	width: 150%;
	margin-left: 25%;
	font-size: 13px;
}

.compkey{
  margin-top: -2%;
	font-family: 'Open Sans';
	font-weight: 100;
	color: #4B4A4A;
}

.graphKey{
	margin-top: -2%;
	margin-right: 5vw;
	font-family: 'Open Sans';
	font-weight: 100;
	color: #4B4A4A;
}


.pieinfo{
	width: 300px;
	margin-left: 20%;
	margin-top: 6%;
	font-family: 'Open Sans';
	color: #4B4A4A;
	font-size: 13px;
	text-align: center;
}

.modaltext{
	font-family: 'Open Sans';
	color: #4B4A4A;
	padding-top: 3%;
}

.studentlist{
	font-family: 'Open Sans';
	color: #4B4A4A;
}

.progressbar{
	width: 80%;
	margin-left: -2%;
}

.col-sm-1, .col-sm-3, .col-sm-5, .col-sm-8 {
	padding: 0px !important;
}

.col-sm-5, .col-sm-8 {
	padding-right: 2vw !important;
}

.advanced-button {
	cursor: pointer;
}
