.assign-drop{
	float: left;
	position: block;
	margin-top: 1%;
	background-color: white;
}

.assignment-default{
	display:inline-block;
	width:100%;
	height:50vh;
	padding-top:10vh;
	font-size: 30px;
	color:#a0a0a0;
}

.hr-5{
	border-top: 1px solid #a0a0a0 !important;
	width: 90% !important;
	margin-left: -8% !important;
}

.hr-6{
  border-top: 1px solid #a0a0a0 !important;
  width: 100% !important;
  margin-left: -12% !important;
  margin-top: -20px !important;
}

.select-search-box{
	background-color: white !important;
}

.arrow-img{
	position:absolute;
	width:150px;
	top:140px;
	left:350px;
}
.assignment-default{
	display:inline-block;
	font-weight:100;
	width:100%;
	height:50vh;
	padding-top:15vh;
	font-size: 25px;
	color:#a0a0a0;
	
}
/* ---------react select styling for dropdown--------- */
/*searchbar*/
.css-1aya2g8, .css-2o5izw, .css-15k3avv{
	background-color: white !important;
	/* margin-left: -15% !important; */
	border: none !important;
}

.css-d8oujb{
	display: none;
}

.css-1492t68, .css-15k3avv{
	font-size: 24px;
	font-weight: 100;
	font-family: 'Open Sans';
}

.css-va7pk8{
	font-size: 32px;
	font-weight: 100;
	font-family: 'Open Sans';
	color: #626262;
}

/* ------------Finalize Results settings------------ */
.advanced-button {
	cursor: pointer;
}

.boxplot{
  	margin-left: -1%;
}

.button-student{
	background-color: #f9f7f7;
	border-radius: 3px;
	margin-top: 3px;
	box-shadow: 0px 10px 5px -8px rgba(0,0,0,0.1);
	border: 2px solid #e2c6c5;
	margin-bottom: 1%;
	align-items: center;
}

.chartbox{
  margin-top: -25px;
	margin-left: 40%;
	width: 50%;
}

.col-sm-1, .col-sm-3, .col-sm-5, .col-sm-8 {
	padding: 0px !important;
}

.headertext{
	font-family: 'Open Sans';
	color: #626262;
	font-weight: normal;
	font-size: 20px;
	text-align: left;
	margin-top:10px;
	/* margin-left: 1%;
	margin-top: 2%; */
	/* padding-top: 2%; */
  }

.col-sm-5, .col-sm-8 {
	padding-right: 2vw !important;
}

.graph1-key{
	margin-top: -2%;
	font-family: 'Open Sans';
	font-weight: 100;
	color: #4B4A4A;
}

.date{
	margin-left: 9%;
	font-family: 'Open Sans';
	color: #4B4A4A;
	margin-bottom: -1%;
	margin-top: 10px;
	font-size: 15px;
}

.finalized-results-case{
	width: 100%;
	min-width: 1000px;
}

.flagged-button{
	align-items: center;
	margin-bottom: -2%;
	margin-top: 7.5px;
	margin-left: 9%;
	background-color: white;
	border-radius: 3px;
	font-size: 15px;
	font-family: 'Open Sans';
	color: #4B4A4A;
	border: 2px solid #d6a0a0;
	height: 1%;
}

.flagged-button:hover{
	align-items: center;
	margin-bottom: -2%;
	margin-top: 7.5px;
	margin-left: 9%;
	background-color: #d6a0a0;
	border-radius: 3px;
	font-size: 15px;
	font-family: 'Open Sans';
	color: #4B4A4A;
	border: 2px solid #d6a0a0;
}

.flagged-grades-modal{
	border-radius: 3px;
	text-align: center;
}

.graph1{
	margin-left: -5%;
	width: 30%;
}

.graph2{
	margin-left: 15%;
	width: 30%;
}

.graph-key{
	margin-top: -10px;
	margin-right: 5vw;
	font-family: 'Open Sans';
	font-weight: 100;
	color: #4B4A4A;
}

.graph1-key{
  margin-top: -10px;
	font-family: 'Open Sans';
	font-weight: 100;
	color: #4B4A4A;
}

.graph-title{
	font-family: 'Open Sans';
  color: #4B4A4A;
	font-size: 16px;
	text-align: center;
	margin-top: -10%;
	margin-left: 30%;
}

.graph-sub{
	font-family: 'Open Sans';
	color: #4B4A4A;
	font-size: 12px;
	text-align: center;
	margin-top: -2%;
	margin-bottom: 10%;
	margin-left: 30%;
}

.header-text{
	font-family: 'Open Sans';
	color: #626262;
	font-weight: 100;
	font-size: 20px;
	text-align: left;
	margin-left: 0% !important;
	margin-top: -1% !important;
}

.legend{
	width: 150%;
	margin-left: 25%;
	font-size: 13px;
}

.modal-text{
	font-family: 'Open Sans';
	color: #4B4A4A;
	padding-top: 3%;
}

.page-text{
	font-family: 'Open Sans';
	color: #4B4A4A;
	float: left;
	margin-bottom: -2%;
	margin-top: 1%;
	margin-left: 0%;
	font-size: 15px;
}

.pie-info{
	width: 300px;
	margin-left: 20%;
	margin-top: 6%;
	font-family: 'Open Sans';
	color: #4B4A4A;
	font-size: 13px;
	text-align: center;
}

.progress-bar{
	width: 80%;
	margin-left: -2%;
}

.score-dets{
	margin-left: -10%;
	margin-top: 5% !important;
}

.stats{
	font-family: 'Open Sans';
	font-size: 15px;
	font-weight: 100;
	color: #4B4A4A;
	margin-right: 10%;
}

.student-list{
	font-family: 'Open Sans';
	color: #4B4A4A;
}

.total-score{
	font-family: 'Open Sans';
	font-size: 15px;
	color: #4B4A4A;
	margin-bottom: 3%;
	margin-left: 500px;
	font-weight: 100;
	margin-top: -4%;
}

.well2{
  	margin-left: 3%;
}
