.student-drop{
  float: left;
  position: block;

  /* background-color:#FFEFE2; */
  background-color: white;

}

.select-search-box {
    width: 300px;
    position: relative;
    font-family: 'Open Sans';
    font-size: 36px;
    color: #626262;
    border: none;
    border-radius: 10px;
    padding-top: 2%;
}
