
@import 'http://weloveiconfonts.com/api/?family=fontawesome';

.studentdrop{
  float: left;
  position: block;
  margin-top: 5%;
  /* background-color:#FFEFE2; */
  background-color: white;
  margin-left: 15%;
}

/*.student-name{
  font-family: 'Open Sans';
  font-size: 24px !important;
  color: #626262;
  font-weight: 100;
}

.student-link{
  text-align: center;
}

.student-name:hover{
  background: #f8f9fa;
}

.studentmenu{
  height:auto;
  max-height:40vh;
  overflow-x:hidden;
}

.studenttog{
  font-family: 'Open Sans' !important;
  font-size: 36px !important;/
  color: #626262 !important;
  font-weight: 100 !important;
  border-radius: 10px !important;
  margin-left: -40vw;
  background-color:#FFEFE2 !important;
  border: none !important;
} */

.hr-3{
  border-top: 2px solid #a0a0a0 !important;
  width: 135vh !important;
}

[class*="fontawesome-"]:before {
    font-family: 'fontawesome', sans-serif;
}

.select-search-box {
    width: 300px;
    position: relative;
    font-family: 'Open Sans';
    font-size: 36px;
    color: #626262;
    background-color: #FFEFE2;
    border: none;
    border-radius: 10px;
    padding-top: 2%;
}

    .select-search-box--multiple {
        border-radius: 4px;
        box-shadow: 0 7px 14px 0 rgba(50, 50, 93, 0.1), 0 3px 6px 0 rgba(0, 0, 0, 0.07);
        overflow: hidden;
    }

    /* .select-search-box::after {
        font-family: 'fontawesome';
        content:"\f078";
        position: absolute;
        margin-left: 70%;
        margin-top: -11%;
        width: 20%;
        text-align: left;
        color: #222f3e;
        z-index: 2;
        font-size: 15px;
    } */

    .select-search-box--multiple::after {
        content:"\f002";
    }

    .select-search-box--input::after {
        display: none !important;
    }

    .select-search-box__out {
        display: none;
    }

    .select-search-box__search {
        display: block;
        width: 100%;
        height: 50px;
        border: none;
        background: none;
        outline: none;
        margin-left: 30%;
        margin-top: 2%;
        -webkit-appearance: none;
        box-sizing: border-box;
        position: relative;
        z-index: 2;
        cursor: pointer;
        line-height: 50px;
        font-family: 'Open Sans';
        font-size: 36px;
        color: #626262;
        background-color: #FFEFE2;
        border: none;
        border-radius: 10px;
        font-weight: 100;
    }

    input.select-search-box__search {
        line-height: 1;
    }

    .select-search-box--multiple .select-search-box__search {
        box-shadow: none;
    }

    .select-search-box--input .select-search-box__search {
        cursor: text;
    }

        .select-search-box__search:focus {
            cursor: text;
        }

        .select-search-box__search--placeholder {
            font-style: italic;
            font-weight: 100;
        }

    .select-search-box input::-webkit-input-placeholder {
        color: #ccc;
        font-style: italic;
        font-weight: 100;
    }

    .select-search-box input::-moz-placeholder {
        color: #ccc;
        font-style: italic;
        font-weight: 100;
    }

    .select-search-box input:-moz-placeholder {
        color: #ccc;
        font-style: italic;
        font-weight: 100;
    }

    .select-search-box input:-ms-input-placeholder {
        color: #ccc;
        font-style: italic;
        font-weight: 100;
    }

    input[type='search']::-webkit-search-cancel-button, input[type='search']::-webkit-search-decoration {
        -webkit-appearance: none;
    }

    .select-search-box__select {
        display: none;
        position: absolute;
        top: 110%;
        left: 0;
        right: 0;
        background: #fff;
        border-radius: 4px;
        overflow: auto;
        box-shadow: 0 7px 14px 0 rgba(50, 50, 93, 0.1), 0 3px 6px 0 rgba(0, 0, 0, 0.07);
        z-index: 100;
        min-height: 20%;
        margin-left: 30%;
        border: 1px solid #eee;
        width: 75%;
    }

    .select-search-box--multiple .select-search-box__select {
        display: block;
        position: static;
        border-top: 1px solid #eee;
        border-radius: 0;
        box-shadow: none;
    }

        .select-search-box__select--display {
            display: block;
        }

    .select-search-box__option {
        font-size: 16px;
        font-weight: 400;
        color: #616b74;
        padding-bottom: 3%;
        padding-top: 3%;
        border-top: 1px solid #eee;
        cursor: pointer;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        user-select: none;
        margin-left: -20%;
    }

        .select-search-box__option:first-child {
            border-top: none;
        }

        .select-search-box__option--hover, .select-search-box__option:hover {
            background: #f4f7fa;
        }

        .select-search-box__option--selected {
            background: #54A0FF;
            color: #fff;
            border-top-color: #2184ff;
        }

            .select-search-box__option--selected:hover, .select-search-box__option--selected.select-search-box__option--hover {
                background: #2184ff;
                color: #fff;
                border-top-color: #2184ff;
            }

        .select-search-box__group {
            margin-top: 20px;
            padding-top: 20px;
            border-top: 1px solid #eee;
            position: relative;
        }

        .select-search-box__group-header {
            position: absolute;
            top: 0;
            left: 50%;
            transform: translate(-50%, -50%);
            background: white;
            padding: 0 10px;
            color: rgba(0, 0, 0, 0.5);
            font-size: 12px;
          }
