.all-courses{
    width:50vw;
    float: left;
  }
  .courses-list{
      list-style-type: none;
      margin-top:10px;
      padding-left:25px;
      text-align:left;
      max-width:40vw;
  }

  .course-name{
    width:75%;
    background-color: #E9F0F0;
    font-size:20px;
    margin: 25px 0px;       
    /* box-shadow: 2px 2px 4px 0 rgba(0,0,0,0.50); */
    font-family: Sailec-Regular;
    padding-right:5px;
    padding-left:5px;
}
.course-name:hover{
    transform: translate(0, -5px);
    box-shadow: 0px 12px 5px -8px rgba(0,0,0,0.2);
}

.course-link, .course-link:hover {
    text-decoration: none;
    color: black;
}