.jumbo{
    padding-top: 10px !important;
    padding-bottom: 10px !important;

    background-color: white !important;
    /* background-color:var(--jumbo-background) !important; */
    margin-left:100px !important;
    margin-top: 25px !important;
    padding-left:15px;
    min-width:750px!important;
    width:100vw;
   }

   .jumbo-container{
     width:100vw;
     min-width:500px;
     margin-left:0px;
     padding-left:0px!important;
     height: 25px;
   }
   .jumbo-row{
     content: "";
     clear: both;
     margin-left:30px !important;
   }
   .col1{
     width: 80vw !important;
     min-width:600px;
   }
   .row-title{
       min-width:500px;
       margin-left:50px!important;
       text-align:left;
       margin-bottom: -3vh;
   }

   .name{
     color:#757373;
     font-size:48px !important;
     float:left;
     font-family:'Open Sans';
     font-weight: 200;
   }
   .welcome{
     color:var(--navy-plum);
     font-size:40px !important;
     float:left;
     font-family:'Playfair Display';
   }
   .col2{
     margin-right:0px !important;
     padding-right:0px !important;
     text-align:right;
     width: 16vw!important; /*19vw w/o scroll bar; 17vw w/ scroll bar*/
   }
