.hr-1{
  border-top: 1px solid black !important;
}

.jumbo{
  background-color:white!important;
  padding-bottom:0px!important;
  margin-bottom:0px!important;
  padding-top:30px!important;
  min-width:750px;
  margin:auto;
}

.jumbo-container{
  text-align:left;
  font-size:40px;
  color:#757373;
  min-width: 50vh;
}

.main-title{
  font-family: 'Open Sans';
  color: #757373;
  font-weight: 100;
}

.nav-link{
  color: #757373 !important;
  font-size: 20px;
}

.nav-link.active{
  border-color: black black #fff !important;
  color:black !important;
}

.nav-link:hover{
  border-color:#757373 #757373 black!important;
  color:#757373 !important;
}

.nav-tabs{
  border-bottom: 1px solid black !important;
  
}

.tabs{
  position:absolute;
  top:61px;
  right:47px;
  top:60px;
  /*flex-wrap:nowrap !important;*/
}

/*@media only screen and (max-width: 850px){
  .tabs{
    right:normal;
    left:420px;
  }
}
@media (min-width: 576px){
  .jumbotron {
    padding:2rem 1rem!important;
  }
}*/
