.assignment-info{
  padding-top: 10%;
  width: 100%;
  /* display: flex; */
  flex-direction: column;
  align-items: left;
  background-color:#FFEFE2;
}

.assigment-labels, .buttons{
    margin: 10px auto;
    width: 75%;
}


.assignment-info-content{
    font-size: 20px;
    margin-top: -1%;
    font-family: "Open Sans";
    text-align:left;
}

.assignment-info-title{
    font-size: 30px;
    margin-top: -1%;
    font-family: "Open Sans";
}

.hr-4{
  border-top: 2px solid #a0a0a0 !important;
  width: 90% !important;
  margin-left: -7% !important;
}

.calendar-case{
    display:inline-block;
    width:100%;
}
.calendar-case-hidden{
    display:none;
    
}
.parameters-case{
    display:inline-block;
    width:100%;
}
.parameters-case-hidden{
    display:none;
}

