.assignment-info{
    margin-left: 50%;
    width: 50vw;
    height: 100vh;
    padding-top: 40vh;
    display: flex;
    flex-direction: column;
    
    text-align: left;
}

.assigment-labels, .buttons{
    margin: 10px auto;
    width: 75%;
}
.well-of-accordions{
    padding-left:0px;
}
.assignment-info-content{
    
}