.error-message {
    margin-left: 1vw;
}

.row {
    margin: 0px !important;
    text-align: center;
}

.error-message-title {
    font-weight: bold;
    font-size:3vw
}

.immediate-redirection {
    padding-left: 3px;
    padding-right: 3px;
}
