:root{
    --apricot: #ffb997;
    --light-peach: #efd9ce;
    --grapefruit: #f67e7d;
    --violet:#843b62;
    --navy-plum:#0b032d;
    --dark-lavendar:#74546a;
    --light-lavendar:#a37494;
  }

.entire-screen-login{
    height:100vh;
    background-color: #efd9ce;;
    min-width: 500px;
}

.flexbox-login{
    margin:auto;
    justify-content:space-around;
}

.form-control{
    border: 1px solid #efd9ce !important;
}

.login-group{
    width:500px;
    padding-top:30vh;
    height:80vh;
    margin:auto;
}

.new-button{
    padding-left:10px;
    padding-right:10px;
    font-size:20px;
    background-color: Transparent;
    border:none;
    color: black;
    font-family: 'Open Sans';
}

.welcome-message-login{
    color: black;
    font-size:90px;
    margin-bottom: 20px;
    font-family: 'Playfair Display';
}
