.breadcrumb1{
    font-size:20px;
    display:flex;
    flex-wrap:nowrap!important;
    min-width:750px!important;
    width:100vw !important;
    overflow:hidden;
    text-overflow: ellipsis!important;
    border-radius:0px!important;
}
.breadcrumb-item1{
    max-width: 70vw;
    min-width: 450px;
}
