:root{
    --apricot: #ffb997;
    --light-peach: #efd9ce;
    --grapefruit: #f67e7d;
    --violet:#843b62;
    --navy-plum:#0b032d;
    --dark-lavendar:#74546a;
    --light-lavendar1:#a37494;
    --light-lavendar2:#bd8eae;
    --jumbo-background:#B27C53;
    --accent-color-dark:#6D213C;
    --body-buttons:#C4B46D;
    --body-background: white;
    --accent-color-light: #EDC874;
    --accent-color-dark2:#005908;
    }

  body {
    margin: 0;
    padding: 0;
    font-family: 'Playfair Display';
    background-color:var(--body-background) !important;
    height:100%;
  }

  /* ------------Middle Section Settings------------ */
  .well1-container{
      padding-top:15px;
      width:80vw;
      margin-left:0px;
      min-height:74vh;
  }

  .well1-flexbox{
    margin-left:25px!important;
    margin-top:15px;
  }
