.student-info{
    padding-top: 20vh;
    padding-left: 20vw;
    width: 100%;
    /* display: flex; */
    flex-direction: column;
    align-items: left;
    background-color:#FFEFE2;
}

.colorbody{
  background-color:#FFEFE2;
  width: 100%;
}

.dropsouter{
  margin-left: 5vw;
}

.dropdowns {
    margin: 5% 0;
    font-family: 'Open Sans';
}

.dropbutton{
  background-color: #A8DBFF !important;
  color: #626262 !important;
  font-family: 'Open Sans' !important;
  border: none !important;
  border-radius: 10px !important;
  margin-bottom: 20px !important;
}

.errmessage{
  /* margin-left: 300px; */
  /* margin-top: 5px; */
  background-color: white;
  border-radius: 10px;
  font-family: 'Open Sans';
  padding-left: 5px;
  padding-right: 5px;
  /* color: #626262;
  text-align: center;
  padding-top: 20px; */
}

.message{
  margin-left: 200px;
  margin-top: 5px;
  background-color: white;
  border-radius: 10px;
  font-family: 'Open Sans';
  color: #626262;
  text-align: center;
  padding-top: 30px;
  height: 110px;
}

.studentinfo-name {
    font-size: 50px;
    width: 100%;
    font-family: 'Open Sans';
}

.headertext{
  font-family: 'Open Sans';
  color: #626262;
  font-weight: 100;
  font-size: 20px;
  text-align: left;
  margin-left: 1vw;
  margin-top: 5vh;
  padding-top: 20px;
}

.graph{
  width: 850px;
}

.hr-2{
  border-top: 1px solid #a0a0a0 !important;
  width: 125vh;
  margin-left: -5vh;
}

.hr-4{
  border-top: 2px solid #a0a0a0 !important;
  width: 135vh !important;
  margin-left: -75px !important;
}
