:root {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: hidden;
}


a:hover, a:visited, a:link, a:active{
    text-decoration: none!important;
}
.icon-button{
    border:none;
    border-radius: 3px;
    background-color: rgb(255, 239, 226);
    color:black;
    font-size: 12px;
    width:90%;
    margin-top: 10%;
    font-family: 'Open Sans';
}
.icon-cloud{
    width:40px;
}
.icon-text{
    font-size:15px;
    font-weight:normal;
    color: black;
    margin-bottom:0px;
}

.logo {
  	margin: 20px;
}

.material-icons{
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 40px;
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;
}

.side-bar-content{
	font-family:'Open Sans';
	font-weight: 100;
	color: #8B8B8B;
	padding: 20px;
}

.sign-out-button{
	border:none;
	border-radius: 3px;
	background-color: white;
	color:black;
	font-size: 14px;
	width:75px;
	height: 30px;
	font-family: 'Open Sans';
	position: absolute;
	bottom: 10px;
	left: 10px;
}
@media only screen and (max-height: 420px){
    .sign-out-button{
        position:relative;
        margin-top:20px;
        margin-left:-27px;
    }
}
.success-alert{
    position: fixed !important;
    left: 35%;
    /* top: 5px; */
    width: 500px;
}

.success-alert-div{
    position:absolute;
    left:50%;
}
