root: {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: hidden;
}

sidebar: {
    position: fixed;
    top: 0;
    bottom: 0;
}

content: {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

overlay: {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0;
    visibility: hidden;
}

dragHandle: {
    position: fixed;
    top: 0;
    bottom: 0;
}

.local-storage-pull-button{
  border:none;
  border-radius: 3px;
  background-color: white;
  color:black;
  font-size: 12px;
  width:90%;
  height: 30px;
  margin-bottom: 4%;
  margin-top: 4%;
  font-family: 'Open Sans';
}

.local-storage-save-button{
	border:none;
	border-radius: 3px;
	background-color: white;
	color:black;
	font-size: 12px;
	width:90%;
	height: 30px;
  margin-bottom: 10%;
  margin-top: 10%;
	font-family: 'Open Sans';
}

.logo {
  	margin: 20px;
}

.side-bar-content{
	font-family:'Open Sans';
	font-weight: 100;
	color: #8B8B8B;
	padding: 20px;
}

.sign-out-button{
	border:none;
	border-radius: 3px;
	background-color: white;
	color:black;
	font-size: 14px;
	width:75px;
	height: 30px;
	font-family: 'Open Sans';
	position: absolute;
	bottom: 10px;
	left: 10px;
}
