.cardtitle{
  font-family: 'Open Sans';
  text-align: left;
  color: black;
  font-size: 22px;
  font-weight: 100;
}

.card{
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 20px;
  width: 250px;
  box-shadow: 1px 1px 3px 1px rgba(0, 0, 0, 0.1);
  border-radius: 10px !important;
  border: none !important;
}

.classcolor{
  border: none !important;
  border-radius: 10px 10px 0px 0px !important;
  height: 250px;

  width: 300px;
}
