.iframe{
  margin-left: 5%;
  margin-top: 4%;
  min-width: 1300px;
  background-color: white;
  z-index: 1;
}

.nav-item-1, .nav-item-2{
  font-family: 'Open Sans';
  font-weight: 100;
  color: #626262;
}

.not-active:hover {
  cursor: pointer;
}

.active:hover {
  cursor: default;
}


